*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins",sans-serif;
}

header{
    width: 100%;
    padding: 20px;
    background:linear-gradient(to right,hsl(0, 12%, 7%),hsla(236, 97%, 24%, 0.425),hsl(0,12%,7%)) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

   .Navbar{
    width: 100px;  
    color: #fff;
    font-size: 15px;
    padding: 0px 20px;
 }
 
 .Navitems ul{
   display: flex;
   flex-direction: row;
 }
 
 .Navitems ul li{                            
   margin:0px 40px;
   list-style: none;
   font-size: 20px;
   margin-right: 120px;
 }
 
 a{
   text-decoration: none;
   color:white;
 }
 
  .head{
    display: flex;
    margin: auto;
    width: 90%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    
  }

  .left{
    flex-basis: 45%;

  }
  
  .img-box{
    height: 70vh;
    display: flex;
  }

  .product{
    height: 20vh;
    margin-bottom: 9px;
    cursor: pointer;
    width: 500;
    height: auto;
    opacity: 0.6;
  }

  .product img{
    height: 17vh; 
    margin: auto;
    width: 100px;
  }

  .product img:hover{
       opacity: 1;
  }

  .box img{
    height: 470px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);   
    margin: auto;
    width: 390px;
    
  }

  .box:hover{
    box-shadow: 0px 0px 5px 5px rgb(83, 158, 83); 
   
 }

  .content{
    margin-left: 390px;
    align-items: center;
    padding: 250px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  p{
    margin-bottom: 20px;
    
  }

  .brand{
    background: #008000;
    width: fit-content;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;

  }

  h2{
    font-size: 45px;
    color: #555;
    margin-bottom: 20px;
  }

  .ratting{
    display: flex;
    height: 15px;
  }

  .ratting.fa{
    color: #008000;
  }

  .price{
    color: #fe980f;
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
  }

  input{
    width: 30px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
  }

  button{
    color: #fff;
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    background: #fe980f;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
  }

  button.fa{
    margin-right: 10px;
  }

.hero{
  text-align: center;
  font-size: 20px;
 padding: 40px;
}

.shop{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shopcard{
  width: 300px;
  margin-inline:22px;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 25px;
}

.shopcard p{
  margin-top: 11px;
}

.shopcard img{
  width: 100%;
  height: 300px;
}

.shopcard button{
  width: 90px;
  height: 30px;
  background-color: rgb(247,17,55);
  color: white;
  cursor: pointer;
  border: none;
  font-size: 18px;
  margin-top: 11px;
 
  
}

.hero h1{
  padding: 22px;
  
}
.arrival{
  display: flex;
  justify-content: center;
  width: 900px;
  border-color: black;
  padding: 22px;
}

.arrivalText{
  font-size: 20px;
  padding: 40px; 
}

.arrivalText h1{
  margin-top:22px;
}

.arrivalText p{
  margin-top:22px;
}

.arrivalText button{
  margin-top:22px;
  width: 110;
  height: 33px;
  background-color: rgb(247,17,55);
  color: white;
  cursor: pointer;
  border: none;
  font-size: 18px;
  margin-top: 11px;
  text-align: center;
}

.arrival img{
  width: 500px;
}

.blogs{
  display: flex;
  justify-content: center;
}

.blogcard{
  width: 300px;
  margin-inline: 22px;
  
}

.blogcard a{
  padding: 4px 22px;
  font-size: 20px;
  background-color:rgb(245, 17, 55);
  color: white;
  text-decoration: none;
  position: relative;
  top: 22px;
}
.blockcard img{
  width: 100%;
  height: 300px;
}

.footer{
  display: flex;
  justify-content: center;
  margin-top: 66px;
  background:linear-gradient(to right,#00093c,#2d0b00);
  color:#fff;
  position: absolute;
  width: 100%;
  height: 70vh;
 
  
}

.text h3{
  font-size: 20px;
  margin:40px;
  padding: 22px;
  text-align: center;
  
}

.text p{
  padding: 15px;
  margin: 22px; 
  text-align: center;
 
}

